@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-montserrat;
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
  }
}

@layer components {
  .container {
    /* 1700px */
    @apply max-w-[106.25rem] mx-auto w-[90%];
  }

  .hightlight-card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(33px);
  }

  .title {
    @apply text-4xl text-white font-normal;
  }

  .desc {
    @apply text-2xl text-white leading-[1.6];
  }

  .mb-200px {
    @apply mb-[12.5rem];
  }

  .mb-100px {
    @apply mb-[6.25rem];
  }
}
